<div class="container px-4 py-5" id="hanging-icons">
	<h2 class="pb-2 border-bottom display-6 fw-semibold">Experience</h2>
	<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
		<div class="col d-flex align-items-start w-100">
			<div
				class="col-2 icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 p-2 rounded-2"
			>
				<!-- <i class="bi bi-pc-display-horizontal"></i> -->
				<img
					src="../../assets/images/niit.png"
					alt="NIIT logo"
					class="img-thumbnail"
				/>
			</div>
			<div class="col-10">
				<h3 class="fs-2 text-body-emphasis">
					NIIT Ltd, Gurugram (WFH)
				</h3>
				<h5 class="fs-4">Mentor : Full-Stack Software Engineering</h5>
				<h6 class="fs-6">April 2022 - Present</h6>

				<div class="list-group w-100 mt-3">
					<a
						href="#"
						class="list-group-item list-group-item-action d-flex gap-3 py-3"
						aria-current="true"
					>
						<svg
							class="rounded-circle flex-shrink-0"
							xmlns="http://www.w3.org/2000/svg"
							x="0px"
							y="0px"
							width="40"
							height="40"
							viewBox="0 0 48 48"
						>
							<path
								fill="#F44336"
								d="M23.65,24.898c-0.998-1.609-1.722-2.943-2.725-5.455C19.229,15.2,31.24,11.366,26.37,3.999c2.111,5.089-7.577,8.235-8.477,12.473C17.07,20.37,23.645,24.898,23.65,24.898z"
							></path>
							<path
								fill="#F44336"
								d="M23.878,17.27c-0.192,2.516,2.229,3.857,2.299,5.695c0.056,1.496-1.447,2.743-1.447,2.743s2.728-0.536,3.579-2.818c0.945-2.534-1.834-4.269-1.548-6.298c0.267-1.938,6.031-5.543,6.031-5.543S24.311,11.611,23.878,17.27z"
							></path>
							<g>
								<path
									fill="#1565C0"
									d="M32.084 25.055c1.754-.394 3.233.723 3.233 2.01 0 2.901-4.021 5.643-4.021 5.643s6.225-.742 6.225-5.505C37.521 24.053 34.464 23.266 32.084 25.055zM29.129 27.395c0 0 1.941-1.383 2.458-1.902-4.763 1.011-15.638 1.147-15.638.269 0-.809 3.507-1.638 3.507-1.638s-7.773-.112-7.773 2.181C11.683 28.695 21.858 28.866 29.129 27.395z"
								></path>
								<path
									fill="#1565C0"
									d="M27.935,29.571c-4.509,1.499-12.814,1.02-10.354-0.993c-1.198,0-2.974,0.963-2.974,1.889c0,1.857,8.982,3.291,15.63,0.572L27.935,29.571z"
								></path>
								<path
									fill="#1565C0"
									d="M18.686,32.739c-1.636,0-2.695,1.054-2.695,1.822c0,2.391,9.76,2.632,13.627,0.205l-2.458-1.632C24.271,34.404,17.014,34.579,18.686,32.739z"
								></path>
								<path
									fill="#1565C0"
									d="M36.281,36.632c0-0.936-1.055-1.377-1.433-1.588c2.228,5.373-22.317,4.956-22.317,1.784c0-0.721,1.807-1.427,3.477-1.093l-1.42-0.839C11.26,34.374,9,35.837,9,37.017C9,42.52,36.281,42.255,36.281,36.632z"
								></path>
								<path
									fill="#1565C0"
									d="M39,38.604c-4.146,4.095-14.659,5.587-25.231,3.057C24.341,46.164,38.95,43.628,39,38.604z"
								></path>
							</g>
						</svg>
						<div class="d-flex gap-2 w-100 justify-content-between">
							<div>
								<h6 class="mb-0">Java (OpenJDK 8 - 17)</h6>
								<p class="mb-0 opacity-75">
									Core Java Basics (variables, flow control
									statements, methods, objects), classes,
									interfaces, enums, records, sealed classes,
									functional interfaces, lambda expressions,
									The 'Stream API', The 'Collections
									Framework', JDBC, Regular Expressions,
									Object-Oriented Programming, Data Structures
									and Algorithms, Exception Handling, File
									Handling, Generics.
								</p>
							</div>
							<small class="opacity-50 text-nowrap"
								>10 years</small
							>
						</div>
					</a>
					<a
						href="#"
						class="list-group-item list-group-item-action d-flex gap-3 py-3"
						aria-current="true"
					>
						<svg
							class="rounded-circle flex-shrink-0"
							xmlns="http://www.w3.org/2000/svg"
							x="0px"
							y="0px"
							width="40"
							height="40"
							viewBox="0 0 48 48"
						>
							<path
								fill="#E65100"
								d="M41,5H7l3,34l14,4l14-4L41,5L41,5z"
							></path>
							<path
								fill="#FF6D00"
								d="M24 8L24 39.9 35.2 36.7 37.7 8z"
							></path>
							<path
								fill="#FFF"
								d="M24,25v-4h8.6l-0.7,11.5L24,35.1v-4.2l4.1-1.4l0.3-4.5H24z M32.9,17l0.3-4H24v4H32.9z"
							></path>
							<path
								fill="#EEE"
								d="M24,30.9v4.2l-7.9-2.6L15.7,27h4l0.2,2.5L24,30.9z M19.1,17H24v-4h-9.1l0.7,12H24v-4h-4.6L19.1,17z"
							></path>
						</svg>
						<div class="d-flex gap-2 w-100 justify-content-between">
							<div>
								<h6 class="mb-0">HTML5</h6>
								<p class="mb-0 opacity-75">
									Some placeholder content in a paragraph that
									goes a little longer so it wraps to a new
									line.
								</p>
							</div>
							<small class="opacity-50 text-nowrap">3d</small>
						</div>
					</a>
					<a
						href="#"
						class="list-group-item list-group-item-action d-flex gap-3 py-3"
						aria-current="true"
					>
						<img
							src="https://github.com/twbs.png"
							alt="twbs"
							width="32"
							height="32"
							class="rounded-circle flex-shrink-0"
						/>
						<div class="d-flex gap-2 w-100 justify-content-between">
							<div>
								<h6 class="mb-0">CSS3</h6>
								<p class="mb-0 opacity-75">
									Some placeholder content in a paragraph.
								</p>
							</div>
							<small class="opacity-50 text-nowrap">1w</small>
						</div>
					</a>
				</div>
			</div>
		</div>
		<hr class="col w-100 py-2" />
		<div class="col d-flex align-items-start w-100">
			<div
				class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
			>
				<svg class="bi" width="1em" height="1em">
					<use xlink:href="#cpu-fill"></use>
				</svg>
			</div>
			<div>
				<h3 class="fs-2 text-body-emphasis">
					Koenig Solutions Pvt Ltd
				</h3>
				<h5 class="fs-4">Technical Trainer: (Various Technologies)</h5>
				<p>
					Paragraph of text beneath the heading to explain the
					heading. We'll add onto it with another sentence and
					probably just keep going until we run out of words.
				</p>
				<a href="#" class="btn btn-primary"> Primary button </a>
			</div>
		</div>
		<hr class="col w-100 py-2" />
		<div class="col d-flex align-items-start w-100">
			<div
				class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
			>
				<svg class="bi" width="1em" height="1em">
					<use xlink:href="#tools"></use>
				</svg>
			</div>
			<div>
				<h3 class="fs-2 text-body-emphasis">Featured title</h3>
				<p>
					Paragraph of text beneath the heading to explain the
					heading. We'll add onto it with another sentence and
					probably just keep going until we run out of words.
				</p>
				<a href="#" class="btn btn-primary"> Primary button </a>
			</div>
		</div>
	</div>
</div>
